body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.pad15{padding: 15px;}

.sidebar{
  width: 10%;
  float: left;
  max-width: 100px;
  height: 100vh;
  padding: 15px;
  background: #eee;
  border-right: 1px solid #333;
}
.App-logo{
  animation: none;
  width: 70px;
}
.sidebar ul{
  padding: 0;
  list-style: none;
}
.main{
  width: 70%;
  float: left;
  padding: 15px;
}